{% extends "base.html" %}

{% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <h1>Fale conosco</h1>
            <p>Você pode entrar em contato conosco tanto por e-mail como pelas redes sociais, abaixo seguem os links para contato:</p>
            <h4>Links</h4>
            <ul>
                <li>Linkedin: <a href="https://linkedin.com/in/igo-pereira-barros-developer/" target="_blank">linkedin/igo-pereira-barros-developer</a></li>
                <li>Github: <a href="https://github.com/IgopereiraBarros" target="_blank">github.com/IgoPereiraBarros</a></li>
                <li>E-mail: igorestacioceut@gmail.com</li>
            </ul>
        </div>
    </div>
{% endblock %}